@mixin text {
  font-size: 14px;
  line-height: 65px;
  margin: 10px 0;
}

@mixin container-color {
  background-color: #eeecec;
}

@mixin box-layout($height: 280px, $padding: 40px) {
  width: 650px;
  height: $height;
  background-color:#fcfcfc;
  margin: 0 auto;
  padding: $padding;
}

@mixin form-layout($height: 48px, $width: 570px) {
  width: $width;
  height: $height;
  padding: 16px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

@mixin subtitle ($color: #000) {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
  color: $color;
}

@mixin box-optional-or-required($background-color: #ff0211) {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4em;
  padding: 0 4px;
  margin: 0 0 0 8px;
  border-radius: 2px;
  background-color: $background-color;
  color: #fff;
}

@mixin category-box {
  width: 650px;
  height: 100%;
  background-color: #fff;
  padding: 24px 30px;
}

@mixin category-box-header {
  width: 650px;
  line-height: 40px;
  background-color: $emerald-blue;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 40px;
  padding: 0 30px;
}

@mixin items-display {
  .item_lists{
    float: left;
    background-color: white;
    margin: 0 10px 15px;
    .item_list{
      height: 300px;
      width: 300px;
      position: relative;
      .item_list__image img{
        height: 220px;
        width: 300px;
        object-fit: cover;
      }
      .item_list__name{
        padding: 10px 0 10px 20px;
      }
      .item_list__price{
        padding: 5px 10px 5px 20px;
        position: absolute;
        bottom: 90px;
        border-radius: 0 16px 16px 0;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 17px;
        color: white;
      }
      .item_list__photo__sold{
        width: 0;
        height: 0;
        border-top: 60px solid #ea352d ;
        border-right: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 60px solid #ea352d ;
        z-index:10;
        position: absolute;
        top: 0px;
        left: 0px;
        &__inner{
          transform: rotate(-45deg);
          font-size: 28px;
          margin:-35px 0px 0px -55px;
          color: #fff;
          letter-spacing: 2px;
          font-weight: 600;
        }
      }
    }
  }
}

@mixin button($width: 320px, $line-height: 48px, $background-color: #ec342c) {
  display: inline-block;
  text-align: center;
  width: $width;
  line-height: $line-height;
  font-size: 17px;
  background-color: $background-color;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
  color: #fff;
}

@mixin button-hover {
  background-color: #d5342c;
  color: #fff;
}