.user-cards-content{
  .user-cards-content__head{
    height: 50px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: solid 0.3px lightgray;
  }
  .user-cards-content__inner{
    height: 350px;
    padding: 64px;

    .user-cards-content__inner__section{
      text-align: center;
      font-weight: bold; 
      padding: 15px 0 30px 0;
    }
    .user-cards-content__inner__help{
      color: darkslategrey;
      text-align: right;
      border-top:solid 0.3px lightgray;
      a{
        text-decoration: none;
        color: darkslategrey;
      }
      
    }
    .right-single-content{
      a{
        text-decoration: none;
        color: $emerald-blue;
      }
    }
  }


}

// user-cards-content{
//   &__head {
//     height: 50px;
//     padding: 8px 20px;
//     text-align: center;
//     border-bottom: solid 0.3px lightgray;
//   }
//   &__inner{
//     height: 350px;
//     padding: 64px;

//     &__section{
//       text-align: center;
//       font-weight: bold;
//     }

//     &__help{
//       color: darkslategrey;
//       text-align: right;
//       border-top:solid 0.3px lightgray;
//     }
//   }
// }



// ーークレカ情報入力 card new--

.credit-card__inner{
  margin: auto;
  width: 300px;
  padding: 20px 0 20px;
  
  .label{
    height: 20px;
    width: 40px;
    font-weight: bold;
  }
  .input-number{
    height: 50px;
    width: 300px;
    margin-bottom: 15px;
  }
  .input-expire{
    height: 50px;
    width: 100px;
    margin-bottom: 15px;
  }
  .content-bottom{
    padding-top: 20px;
    margin: auto;
    text-align: center;
    .add-btn{
      display: inline-block;
      font-size: 15px; 
      text-align: center;
      cursor: pointer;
      padding: 15px 119px; 
      background: $emerald-blue;
      color:white;
      line-height: 1em;
    }
  }
}