hr {
  height: 2px;
  width: 650px;
  color: $background;
  margin: 0;
  border: none;
}

#fee{
  margin-right: 30px;
  font-size: 20px;
}

#profit{
  margin-right: 30px;
  font-size: 20px;
}


.header {
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  .top-logo {
    width: 185px;
    height: 49px;
  }
}
// 画像登録
.newitem-container {
  &__hidden{
    display: none;
  }
  background-color: $background;
  &__img-container {
    @include box-layout;
    padding: 40px;
    height: 400px;
    &__title {
      lavel {
        @include subtitle;
      }
      span {
        @include box-optional-or-required;
      }
    }
    &__text {
      font-size: 14px;
      margin: 8px 0 0 0;
    }
    .newitem-container__image__box {
      width: 580px;
      height: 150px;
      margin: 10px 0 0 0;
      background-color: #eeecec;
      align-items: center;
      text-align: center;
      position: relative;
      label{
        margin-top: 60px;
        display: block;
      }
      #image-box-1{
        display: flex;
        padding: 0 5px;
      }
      .item-num-0{
        width: 100%;
      }
      .item-num-1{
        width: 491px;
      }
      .item-num-2{
        width: 363px;
      }
      .item-num-3{
        width: 234px;
      }
      .item-num-4{
        width: 106px;
      }
    }
    .camera-icon{
      width: 20px;
      height: 18px;
    }
  }
  .edititem-container__img-container{
    @include box-layout;
    padding: 40px;
    height: 600px;
    &__title {
      &--text {
        lavel {
          @include subtitle;
        }
        span {
          @include box-optional-or-required;
        }
      }
    }
    &__text {
      font-size: 14px;
      margin: 8px 0 0 0;
    }
    #edititem-container__image__box {
      width: 580px;
      margin: 10px 0 0 0;
      padding: 20px 0 0 20px;
      background-color: #eeecec;
      display: flex;
      img{
        height: 75px;
      }
    }
    .edititem__add__image{
      width: 580px;
      padding: 20px 70px 0 20px;
      .box {
        img {
          height: 75px;
        }
      }
    }
    .camera-icon{
      width: 20px;
      height: 18px;
      margin-bottom: 20px;
    }
  }


// 商品の名前と説明
  &__body {
    @include box-layout(380px);
    &__form {
      &--text {
        lavel {
          @include subtitle;
        }
        span {
          @include box-optional-or-required;
        }
      }
      &--textarea {
        margin-top: 8px;
        input.itemname {
          @include form-layout;
        }
      }
    }
    &__description {
      margin-top: 32px;
      &--text {
        lavel {
          @include subtitle;
        }
        span {
          @include box-optional-or-required;
        }
      }
      &--textarea {
        margin-top: 8px;
        textarea.description {
          @include form-layout(150px);
        }
      }
    }
  }
// 商品のカテゴリー・ブランド・商品の状態
  &__newitems-detail {
    @include box-layout(100%);
    &__title {
      @include subtitle(#888);
    }
    &__form {
      margin-top: 32px;
      &__category {
        &--text {
          lavel {
            @include subtitle;
          }
          span {
            @include box-optional-or-required;
          }
        }
        &--textarea {
          margin-top: 8px;
          select.listing-select-wrapper__box--select {
            @include form-layout;
            margin-bottom: 8px;
          }
        }
      }
      &__brand {
        &--text {
          margin-top: 32px;
          lavel {
            @include subtitle;
          }
          span {
            @include box-optional-or-required(#a0a0a0);
          }
        }
        &--textarea {
          margin-top: 8px;
          input.brandname {
            @include form-layout;
          }
        }
      }
      &__status {
        &--text {
          margin-top: 32px;
          lavel {
            @include subtitle;
          }
          span {
            @include box-optional-or-required;
          }
        }
        &--textarea {
          margin-top: 8px;
          select.status {
            @include form-layout;
          }
        }
      }
    }
  }
  //発送
  &__newitems-ship {
    @include box-layout(430px);
    &__title {
      @include subtitle(#888);
    }
    &__form {
      margin-top: 32px;
      &__payment {
        &--text {
          lavel {
            @include subtitle;
          }
          span {
            @include box-optional-or-required;
          }
        }
        &--textarea {
          margin-top: 8px;
          select.payment {
            @include form-layout;
          }
        }
      }
      &__region {
        &--text {
          margin-top: 32px;
          lavel {
            @include subtitle;
          }
          span {
            @include box-optional-or-required;
          }
        }
        &--textarea {
          margin-top: 8px;
          select.region {
            @include form-layout;
          }
        }
      }
      &__days {
        &--text {
          margin-top: 32px;
          lavel {
            @include subtitle;
          }
          span {
            @include box-optional-or-required;
          }
        }
        &--textarea {
          margin-top: 8px;
          select.days {
            @include form-layout;
          }
        }
      }
    }
  }
  //価格
  &__newitems-price {
    @include box-layout(320px);
    &__title {
      @include subtitle(#888);
    }
    &__form {
      margin-top: 32px;
      &__container {
        height: 48px;
        display: flex;
        justify-content: space-between;
        &--text {
          line-height: 48px;
          lavel {
            @include subtitle;
          }
          span {
            @include box-optional-or-required;
          }
        }
        &--form {
          display: flex;
          span.mark {
            line-height: 48px;
            text-align: right;
            margin-right: 5px;
            font-size: 14px;
          }
          input {
            @include form-layout($width: 285px);
            text-align: right;
          }
        }
      }
    }
    &__container {
      &__commition {
        display: flex;
        justify-content: space-between;
        lavel {
          @include text;
        }
      }
      &__line{
        height: 1px;
        width: 500px;
        background-color: #ccc;
        margin: 0 auto;
      }
      &__profit {
        display: flex;
        justify-content: space-between;
        lavel {
          @include text;
        }
      }
    }
  }
  &__exhibit-button {
    @include box-layout($height: 48px);
    display: flex;
    justify-content: center;
    align-items: center;
    .button-1 {
      @include button;
    }
    .button-1:hover {
      @include button-hover;
    }
  }
  &__attention {
    @include box-layout($height: 48px);
    p {
      font-size: 10px;
    }
  }
}
.footer-transition {
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $background;
  .bottom-logo {
    width: 185px;
    height: 49px;
  }
  p {
    height: 10px;
    font-size: 10px;
  }
}
