* {
  box-sizing: border-box;
}
@mixin box-optional-or-required($background-color: #FF0211) {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4em;
  padding: 0 4px;
  margin: 0 0 0 8px;
  border-radius: 2px;
  background-color: $background-color;
  color: #fff;
}

.login-contena{
  background-color: whitesmoke;
  height:100vh;
  width:100%;
  margin: 0 auto;
  overflow: scroll;
  overflow: hidden visible;

  .header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-logo{
      height: 50px;
      width: 200px;
      img{
        height: 50px;
        width: 100%;
      }
    }
  }
  .profile-contents{
    display: flex;
    justify-content: center;
    .profile-panel{
      background-color:white;
      width: 500px;

      &__registration {
        height: 140px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: solid 0.5px lightgray;
        .txt{
          font-size:20px;
          font-weight: bold;
        }
      }
      &__form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 40px;
        padding: 30px 0 50px;

        &__inner{
          height: 100%;
          width: 400px;
          background-color: white;
          text-align: center;
          .profile-list-box{
            text-align: center;
            padding: 30px 0 50px;

            
            
            .field{
              &__input{
                height: 40px;
                width: 100%;
                margin-bottom: 15px;
            }
            }
            .text{
              font-size: 15px;
            }
            span {
              @include box-optional-or-required
            }
            .actions{
              height: 40px;
              width: 100%;
              .btn{
                height:40px;
                width: 300px;
                background-color:#3CCACE;
                color: white;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }
}
// ここからマイペ
.mypage-header-contena{
  width:100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: solid 0.5px lightgray;

  .mypage-header-inner{
    width: 1020px;
    .mypage-header-top{
      background-color: white;
      height: 50px;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: space-between;
      padding-top: 8px;
      &__logo{
        height:40px;
        width: 150px;
        margin: 0 15px 0;
        img{
          height: 35px;
          width: auto;
        }
      }
      &__search-box{
        height:40px;
        width: calc(100% - 150px);
        padding-bottom: 5px;
        position: relative;
        .search_field{
          height: 40px;
          width: 85%;
          padding-left: 10px;
        }
        
        .search_btn{
          width: 40px;
          height: 40px;
          background-color: #3CCACE;
          position: absolute;
        }
        img{
          height: 30px;
          width: 30px;
          position: absolute;
          top: 4px;
          right: 28px;
        }
      }
    }

    .mypage-header-nav{
      background-color: white;
      height: 50px;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: space-between;
      .icon{
        text-align: center;
        line-height: 50px;
        margin-right: 3px;
        color:#3ccace ;
      }
      .sentence{
        text-align: center;
        line-height: 50px;
        color: darkslategrey;
        font-weight: bold;
      }
      a{
        text-decoration: none;
      }
      .list{
        display: flex;
        justify-content: center;
      }
      .mypage-header-nav__left-box{
        display: flex;
        justify-content: space-between;
        &__category-box{
          height: 100%;
          width: 200px;
          margin-left: 30px;
        }
        &__brands-box{
          height: 100%;
          width: 200px;
          margin-left: 30px;
        }
      }

      .mypage-header-nav__right-box{
        display: flex;
        justify-content: space-between;
        &__mypage-box{
          height: 100%;
          width: 200px;
          margin-left: 30px;
          padding-right: 5px;
          }
        }
      }
    }
}
.mypage-main-contents{
  background-color: whitesmoke;
  padding:30px;
  .mypage-main-content-inner{
    display: flex;
    justify-content: center;
    margin: auto;

    .main-box{
      height: 100%;
      width: 700px;
      background-color: #fff;
    }

// サイドバー
    .mypage-sidebar-box{
      margin-right: 40px;
      .mypage-nav{
        width: 250px;
        background-color: white;
        
        a{
          text-decoration: none;
          color: darkslategrey;
          :hover {
            background-color: #3CCACE;
            }
        }
        li{
          height: 40px;
          font-size: 13px;
          line-height: 40px;
          padding-left: 20px;
          border-bottom:solid 0.3px lightgray ;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all  0.3s ease;

        }

          .icon{
            float: right;
            line-height: 40px;
            margin-right: 3px;
            color:gray ;
            padding-right: 5px;
          }
        .table-title{
          padding: 8px 20px 8px;
          background-color: whitesmoke;
        }
      }
      
    }
    }
    }

    .purchase_btn{
      background: #3CCACE;
      height: 120px;
      width: 120px;
      text-align: center;
      align-items: center;
      border-radius: 4%;
      position: fixed;
      bottom: 30px;
      right: 30px;
      a{
      text-decoration: none;
      }
      &__text{
        color: white;
        padding: 10px 0 10px 0;
      }
      &__icon img{
        height: 54px;
        width: 54px;
      }
}

// マイペトップアイコン
.mypage-user-icon{
  height: 140px;
  background-color: pink;
  padding: 20px;
  text-align: center;
  .mypage-user{
  }
  .user-icon{
  }

}
