.login-contena
  .header
 
              .actions
                = f.submit "ログイン", class:'login_btn'
              %p.forget-password
                = link_to "#" do
                  ="パスワードをお忘れの方"
 