.app_banner
  .app_banner__title
    だれでもかんたん、人生を変えるフリマアプリ
  .app_banner__text
    今すぐ無料ダウンロード！
  .app_banner__btn
    .app_banner__btn__left
      = link_to "https://www.apple.com/jp/ios/app-store/" do
        = image_tag asset_path("download-on-the-app-store-apple.svg")
    .app_banner__btn__right
      = link_to "https://www.apple.com/jp/ios/app-store/" do
        = image_tag asset_path("google-play-download-android-app.svg")