.footer
  %ul.contents
    %li.content
      %h2.content_head
        FURIMAについて
      %ul
        %li
          会社概要（運営会社）
        %li
          プライバシーポリシー
        %li
          FURIMA利用規約
        %li
          ポイントに関する特約
    %li.content
      %h2.content_head
        FURIMAを見る
      %ul
        %li
          カテゴリ一覧
        %li
          ブランド一覧
    %li.content
      %h2.content_head
        ヘルプ＆ガイド
      %ul
        %li
          FURIMAガイド
        %li
          FURIMAロゴ利用ガイドライン
        %li
          お問い合わせ
  .footer_logo
    = image_tag asset_path("logo-white.png")
    .footer_logo__name
      ©️FURIMA