.header
  .headerInner
    .icon
      -# - link_to root_path do
      = image_tag "logo.png"
    .searchBox
  .nav
    .listsLeft
    .listsRight
.main
  %section.mainVisual
  %section.topIntroduction
  %section.topMiddleDl
  %section.topKeyFutures
  %section.pickupContainer
  %section.pickupContainer
.appBanner
.footer